# This file does get commited and acts as a template. 
# Should not contain real secrets.

DATABASE_URL="postgresql+asyncpg://your_user:yourpassword@localhost:5432/your_db"
SECRET_KEY=
FRONTEND_ORIGIN="http://localhost:5173"